

.tank
{
    margin: 0;
    width: 15%;
    height: 300px;
    border: 6px solid #262626;
    border-top: 2px solid transparent;
    z-index: 1;
}
.left_inlet
{
    margin: 0;
    position: relative;
    left: 6px;
    top: 118px;
    width: 12%;
    height: 60px;
    background-color: rgba(0,173,255,1);
    border: 6px solid #262626;
    border-left-style: none;
    border-right-style: none;
    z-index: 3;
}
.right_inlet
{
    margin: 0;
    position: relative;
    left: -6px;
    top: 118px;
    width: 12%;
    height: 60px;
    background-color: rgba(0,173,255,1);
    border: 6px solid #262626;
    border-left-style: none;
    border-right-style: none;
    z-index: 3;
}
.water
{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.water .wave
{
    content: '';
    position: relative;
    top: 30%;
    left: 0;
    width: 100%;
    height: 120%;
    background: url(water.png);
    animation: 1s animate linear infinite;
}
:root {
    --water-height: 30%;
}
@keyframes animate
{
    0%
    {
        top: var(--water-height);
        background-position-x: 0;
    }
    100%
    {
        top: var(--water-height);
        background-position-x: 200px;
    }
}
@keyframes drain
{
    0%
    {
        top: var(--water-height);
    }
    100%
    {
        top: 65%;
    }
}
@keyframes overflow
{
    0%
    {
        top: var(--water-height);
    }
    100%
    {
        top: -10%;
    }
}
#animation_text
{
    font-size: 2vw;
    position: relative;
    visibility: hidden;
    left: 4vw;
    top: 8vw;
    transform: rotate(-0.05turn);
    width: 20vw;
    background-color: cadetblue;
    padding: 10px;
    border-radius: 20px;
}
#mass_conservation_animation
{
    display: flex;
    font-size: 0;
    position: relative;
    height: 400px;
    align-items: center;
    justify-content: center;
}
.slider
{
    -webkit-appearance: none;
    width: 140px;
    height: 10px;
    background: transparent;
    outline: none;
}
  
/* Chrome, Safari, and Edge Chromium. */
  
.slider::-webkit-slider-thumb
{
    -webkit-appearance: none;
    appearance: none;
    width: 75px;
    height: 14px;
    background: black;
    border: 2px solid #c0bfbf;
    border-radius: 10px;
    cursor: pointer;
}

/* Firefox */

.slider::-moz-range-thumb
{
    appearance: none;
    width: 70px;
    height: 10px;
    background: black;
    border: 2px solid #c0bfbf;
    border-radius: 10px;
    cursor: pointer;
}

#m_in
{
    position: absolute;
    bottom: 58px;
    right: -66px;
    transform: rotate(-0.25turn);
    z-index: 5;
}
#m_out
{
    position: absolute;
    bottom: 58px;
    left: -66px;
    transform: rotate(-0.25turn);
    z-index: 10;
}
.left_slider_label
{
    position: absolute;
    bottom: 52px;
    height: 15%;
    text-align: center;
}
.left_slider_label p
{
    padding: 8px 0;
}
.right_slider_label
{
	position: absolute;
    bottom: 52px;
    height: 60px;
    text-align: center;
}
.right_slider_label p
{
    padding: 8px 0;
}

@media only screen 
and (min-width: 320px){
	.right_slider_label {
        font-size: 12px;
        right: 40px;
        width: 50px;
    }
    .left_slider_label {
        font-size: 12px;
        left: 40px;
        width: 50px;
    }
}
@media only screen 
and (min-width: 800px){
	.right_slider_label {
        font-size: 16px;
        right: 140px;
        width: 120px;
    }
    .left_slider_label {
        font-size: 16px;
        left: 140px;
        width: 120px;
    }
}
.arrow-right:after {
    display: inline-block;
    content: "";
    width: 0;
    height: 0;
    border-left: 15px solid #696969;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    vertical-align: middle;
  }
  .arrow-right:before {
    display: inline-block;
    width: 20%;
    height: 6px;
    background: #696969;
    content: "";
    vertical-align: middle;
  }
  #left_side_arrow
  {
    position: relative;
    text-align: center;
    right: 25%;
    top: 25%;
    z-index: 5;
  }
  #right_side_arrow
  {
    position: relative;
    text-align: center;
    left: 25%;
    top: 25%;
    z-index: 5;
  }